<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Add Product</title>
</head>
<body>
	<th:block th:insert="TopSideNavBar.html"> </th:block>
	<div class="bg-white">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Product Details</h3></div>
                                    <div class="card-body">
                                        <form action="/product/add" enctype="multipart/form-data" method="post">
                                        	
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" name="name" placeholder="Product Name" required/>
                                                <label for="inputProductname">Product Name</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" name="company" placeholder="Company Name" required/>
                                                <label for="inputCompanyname">Company</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" name="price" placeholder="price" required/>
                                                <label for="inputPrice">Price</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="file" name="img" accept="image/png, image/jpeg" placeholder="Product Image" required/>
                                                <label for="inputImage">Image</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <select name="category" class="form-control" required>
                                                	<option value="">Select</option>
                                                	<option th:each="c : ${categoryList}" th:value="${c.id}">[[${c.categoryName}]]</option>
                                                </select>
                                                <label for="inputCategory">Category</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <textarea rows="3" style="height:100%" name="description" class="form-control" required></textarea>
                                                <label for="inputProductDescription">Product Description</label>
                                            </div>
                                            
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                               
                                                <input type="submit"  class="btn btn-primary " value="Add Product"/>
                                            </div>
                                        </form>
                                        <br>
                                        <p style="color:green">[[${message}]]</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            	<th:block th:insert="Footer.html"> </th:block>
        </div>
    </div>
</body>
</html>